# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\другое\javaКурс\spring\программы написанные мной\tweets\твиттер с гитхаба\Micro_Twitter-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
